body{
    font-family: 'Noto Sans JP', sans-serif;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.about-div {
    width: 30%;
}
.about-img{
    width: 10rem;
}