body{
    font-family: 'Noto Sans JP', sans-serif;
}
.about-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.about-div {
    width: 30%;
    margin: 10px;
    margin-bottom: 30px;
}
.about-img{
    width: 100%;
}